html, body {
    overflow: hidden;
    overscroll-behavior: none;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

nav {
    width: 100vw;
    background-color: lightblue;
    padding: 2vw 0;
}

ul {
    display: flex;
}

li {
    margin: 0 2vw;
    font-size: 3vh;
    color: purple;
}

#login {
    margin-left: auto;
}

#logout-button {
    background: none;
    border: none;
    font-size: 3vh;
    font-size: 100%;
    font: inherit;
    color: purple;
    cursor: pointer;
}

#game-canvas {
    display: block;
    float: left;
    width: 70%;
    height: 100%;
}

#chat-container {
    display: block;
    float: right;
    width: 30%;
    height: 100%;
    position: relative;
}

#message-container {
    overflow-y: scroll;
    height: 80%;
}

#message-container div {
    background-color: #CCC;
    padding: 5px;
}

#message-container div:nth-child(2n) {
    background-color: #FFF;
}

#send-container {
    background-color: white;
    width: 100%;
    display: flex;
}

#message-input {
    flex-grow: 1;
}